*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}


header{
    margin-top: 4%;
    margin-left: 5%;
}

header a{
    color: rgb(55, 115, 186);
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;   
}

nav{
    margin-left: 55%;
    margin-top: -1.8%;
}

nav a{
    color: rgb(55, 115, 186);
    text-decoration: none;
    padding: 8%;
    font-size: 24px;
}

.title h1{
    color: rgb(55, 115, 186);
    margin-left: 12%;
    margin-top: 5%;
    font-size: 300%;
}

.about_pod p{
    color: rgb(255, 255, 255);
    width: 60%;
    margin-top: 2%;
    margin-left: 12%;
}

.about_hosts{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10.5%;
    margin-top: 2%;
    width: 60%;

}

.host{
    color: white;
    padding: 20px;
}

.host h2{
    color: rgb(55, 115, 186);
}

.footer{
    height: 375px;
    padding-top: 2%;
    margin-top: 12%;
    background-color: rgb(9, 9, 9);
}
.footer h1{
    color: rgb(55, 115, 186);
    margin-left: 10%;
}

.footer a{
    color: rgb(55, 115, 186);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.footer_links{
    width: 130px;
    margin-left: 45%;
    margin-top: -2.5%;
}

.footer h2{
    color: rgb(55, 115, 186);
    margin-left: 70%;
    margin-top: -4%;
}

.footer p{
    width: 300px;
    color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-left: 10%;
}