*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

header{
    margin-top: 4%;
    margin-left: 5%;
}

header a{
    color: rgb(55, 115, 186);
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
}

nav{
    margin-left: 68%;
    margin-top: -2.5%;
}

nav a{
    color: rgb(55, 115, 186);
    text-decoration: none;
    padding: 12%;
    font-size: 28px;
}

.intro{
    margin-top: 6%;
    margin-left: 20%;
    color: white;
    width: 50%;
}

.intro h1{
    color: rgb(55, 115, 186);
    
}

.audio{
    margin-top: 3%;
    margin-left: 20%;
}

.audio h1{
    color: rgb(55, 115, 186);
    margin-bottom: 2%;
}

.footer{
    height: 375px;
    padding-top: 2%;
    margin-top: 12%;
    background-color: rgb(9, 9, 9);
}
.footer h1{
    color: rgb(55, 115, 186);
    margin-left: 10%;
}

.footer a{
    color: rgb(55, 115, 186);
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.footer_links{
    width: 130px;
    margin-left: 45%;
    margin-top: -2.5%;
}

.footer_contact {
    margin-top: -4%;
    margin-left: 70%;
    color: white;
}

.footer_contact h2{
    color: rgb(55, 115, 186);
}

.footer_contact h3{
    font-weight: normal;
    margin-top: 2%;
}

.footer p{
    width: 300px;
    color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-left: 10%;
}